@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800&family=Lato:ital,wght@0,100;0,900;1,100;1,900&display=swap');

:root {
    --green-color:#7fad39;
    --black-color:#252525;
}

body {
    font-family: "Cairo" ,sans-serif!important;
}

p {
    color: var(--green-color);
}

.header{
    background-color: #f5f5f5;
    padding: 10px;
}

.container{
}

.header-email{
    margin-right: 45px;
    font-size: 14px;
    position: relative;
}

.header-email::before{
    content: "";
    position: absolute;
    right: -22px;
    height: 25px;
    border-right: 1px solid #dddddd;
}

.header-intro{
    
    font-size: 14px;
}

.email-icon{
    margin-right: 5px;
    font-size: 18px;
}

.icon-list{
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
    position: relative;
}

.icon-list::before{
    content: "";
    position: absolute;
    right: -22px;
    height: 25px;
    border-right: 1px solid #dddddd;
}

.language{
    align-items: center;
    position: relative;
    cursor: pointer;
}

.language::before{
    content: "";
    position: absolute;
    right: -22px;
    height: 25px;
    border-right: 1px solid #dddddd;
}

.header-flag{
    margin-left: 40px;
}

.header-english{
    margin-left: 10px;
    margin-right: 10px;
}

.header-login{
    margin-left: 40px;
}

.login-logo{
    margin-left: 10px;
}

.languague-list{
    position: absolute;
    top: 100%;
    list-style-type: none;
    background-color: var(--black-color);
    right: 0px;
    padding-left: 8px;
    width: 119px;
    display: none;
}

.languague-items{
    padding: 3px;
    color: white;
}

.language:hover .languague-list{
    display: block;
}

.navigation{
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navigation-container{
    justify-content: space-between;
}

.navigation-list-container{
    
}

.navigation-list{
    list-style-type: none;
    gap: 60px;
    padding: 0px;
    margin-bottom: 0px;
    
}

.navigation-right{
    
}

.heart-cart-element{
    position: relative;
}

.cart-quantity, .heart-quantity{
    position: absolute;
    top: -5px;
    right: -9px;
    border-radius: 50%;
    padding: 0px 5px;
    background-color: var(--green-color);
    font-size: 10px;
    color: white;
}

.navigation-item{
    text-decoration: none;
    color: #252525;
    font-weight: 1000;
}

.navigation-item:hover{
    color: #7fad39;
}

.navigation-page:hover .page-list{
    display: block;

}

.navigation-item-middle{
    text-decoration: none;
    color: #252525;
    font-weight: 1000;
    position: relative;
}

.page-list{
    list-style-type: none;
    background-color: var(--black-color);
    color: white;
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    display: none;
}



.navigation-item-middle:hover{
    color: #7fad39;
}

.page-item{
    width: 180px;
    padding: 5px;
}

.heart-cart{
    gap: 20px;
}

.heart-cart-item{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    gap: 8px;
}

.categories{
    margin-bottom: 40px;
}

.upper-departments{
    padding: 10px;
    background-color: #7fad39;
}

.departments-icon{

}

.departments-letter{
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-weight: 1000;
}

.departments-list{
    list-style-type: none;
    padding-left: 14px;
    margin: 0px;
    border: solid;
    border-width: 0.5px;
    border-color: #ebebeb;
}

.departments-list-item{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
}

.upper-category{
    gap: 30px;
}

.search-bar{
    align-items: center;
    justify-content: flex-start;
    border: solid;
    border-width: 0.1px;
    height: 45px;
    border-color: #ebebeb;
}

.search-bar-1{
    margin-left: 20px;
    font-weight: 1000;
    position: relative;
}

.arrow-down{
    margin-right: 36px;
    margin-left: 24px;
}

.search-bar-1::before{
    content: "";
    position: absolute;
    right: -80px;
    height: 25px;
    border-right: 1px solid #dddddd;
}

.search-bar-2{
    margin-right: 80px;
    margin-left: 10px;
    border: none;
    font-weight: 10;
}

.search-bar-3{
    margin-left: 20px;
    padding: 10px 30px 10px 30px;
    background-color: #7fad39;
    color: white;
    font-weight: 1000;
}

.phone-number{
    
}

.phone-image{
    border-radius: 50%;
    padding: 10px 20px 10px 20px;
    background-color: #f5f5f5;
}

.phone-number-list{
    list-style-type: none;
    padding: 0px 0px 0px 20px;
    margin: 0px;
}

.big-image{
    margin-top: 30px;
}

.big-image{
    background-image: url(https://preview.colorlib.com/theme/ogani/img/hero/banner.jpg.webp);
    background-repeat: no-repeat;
    height: 450px;
    display: flex;
    align-items: center;
    padding-left: 80px;
}

.big-image-inside-1{
    color: #7fad39;
    font-weight: 1000;
}

.big-image-inside-2{
    font-size: 60px;
}

.big-image-inside-5{
    font-size: 60px;
}

.big-image-inside-3{
    margin-bottom: 30px;
}

.big-image-inside-4{
    text-decoration: none;
    color: white;
    background-color: #7fad39;
    font-weight: 1000;
    padding: 5px 30px 5px 30px;
    margin-top: 30px;
}

.slide-box{
    align-items: center;
}


.slide-box{
    position: relative;
}

.slide-button-left::before{
    border: solid;
    border-width: thin;
    border-color: #ebebeb;
    padding: 30px 5px 30px 5px;
    position: absolute;
    left: 0;
    top: 94px;
    margin-left: -40px;
}

.slide-button-right::before{
    border: solid;
    border-width: thin;
    border-color: #ebebeb;
    padding: 30px 5px 30px 5px;
    position: absolute;
    right: 0;
    top: 94px;
    margin-right: -40px;
}

.slide-button-container{
    display: flex;
    justify-content: space-between;
    height: 11px;
    align-items: center;
    margin-top: 172px;
    margin-bottom: 170px;
}

.featured-product{
    text-align: center;
    margin-top: 70px;
    position: relative;
}

.featured-product::after{
    position: absolute;
    left: 0;
    bottom: 50px;
    right: 0;
    height: 4px;
    width: 80px;
    background: #7fad39;
    content: "";
    margin: 0 auto;
}

.featured-title{
    font-size: 50px;
    font-weight: 1000;
    margin-bottom: 30px;
}

.featured-list{
    list-style-type: none;
    display: flex;
    padding: 0px;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.Product-image-upper{
    margin-top: 50px;
}

.Product-image-1-name{
    text-align: center;
    margin: 10px;
}

.Product-image-1-price{
    text-align: center;
    font-weight: 1000;
}

.Product-image-lower{
    margin-top: 50px;
}

.Product-image-2-name{
    text-align: center;
    margin: 10px;
}

.Product-image-2-price{
    text-align: center;
    font-weight: 1000;
}


.homepage-product-image{
    margin-top: 80px;
}

.triple-slide-title{
    margin-top: 80px;
}

.triple-slide-content{
    gap: 5px;
    align-items: center;
}

.triple-slide-content-name{
    margin-right: 70px;
    font-weight: 1000;
    font-size: 25px;
}

.triple-slide-content-icon{
    border: solid;
    border-width: thin;
    border-color: #ebebeb;
    padding: 5px 5px 5px 5px;
    background-color: #ebebeb;
}

.three-slide{
    margin-top: 50px;    
}

.three-slide-item{
    gap: 20px;
}

.three-slide-price{
    font-weight: 1000;
}

.from-the-blog{
    text-align: center;
    margin-top: 60px;
    position: relative;
}

.from-the-blog::after{
    position: absolute;
    left: 0;
    bottom: 0px;
    right: 0;
    height: 4px;
    width: 80px;
    background: #7fad39;
    content: "";
    margin: 0 auto;
}

.blog{
    text-align: left;
    display: inline;
}

.blog-icon{
    gap: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.blog-title{
    font-size: 20px;
    font-weight: 1000;
}



.blog-img{
    display: inline;
}

.blog-smaller{
    
    width: 350px;
}

.footer-back-ground{
    background-color: #F3F6FA;
    margin-top: 100px;
    padding: 30px;
}

.footer{
   margin-top: 50px;
}

.footer-address{
    list-style-type: none;
    padding: 0px;
}

.mid-list-container{
    gap: 50px;
}
 
.mid-list-right{
    list-style-type: none;
    text-decoration: none;
    padding: 0px;
    color: #252525;
}

.mid-list-right-item{
    text-decoration: none;
    color: #252525;
}

.mid-list-left{
    list-style-type: none;
}

.mid-list-left{
    padding: 0px;
}

.footer-mid-title{
    font-weight: 1000;
    margin-bottom: 10px;
}

.footer-address{
    margin-top: 20px;
}

.footer-address-item{
    padding-top: 5px;
    padding-bottom: 5px;
}

.mid-list-right{
    line-height: 30px;
}

.mid-list-left{
    line-height: 30px;
}

.footer-right-item1{
    margin-bottom: 10px;
}

.footer-right-item2{
    margin-bottom: 20px;
}

.footer-right-item3{
    font-weight: 10;
    border: none;
    padding: 10px;
}

.footer-right-item4{
    padding: 10px 30px 10px 30px;
    background-color: #7fad39;
    color: white;
    font-weight: 1000;
}

.homepage-footer-copyright-background{
    background-color: #F3F6FA;
    padding: 10px;
}

.homepage-footer-copyright{
    background-color: #F3F6FA;
    padding: 20px;
    border-top: solid 1px;
    border-color:#ebebeb;
}

